@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

.background {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: darkolivegreen;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    width: 98vw;
    height: 98vh;
    place-items: center;
}

.card {
    background-color: green;
    height: 15vh;
    width: 20vw;
    border: 1px solid black;
}

.scoreboard {
    height: 15vh;
    width: 20vw;
    grid-column: 1 / 3;
    background-color: green;
    height: 15vh;
    width: 20vw;
    border: 1px solid blue;
}

.game-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15vh;
    width: 20vw;
    grid-column: 3 / 5;
    background-color: green;
    height: 15vh;
    width: 20vw;
    border: 1px solid red;
}

.game-controls button,
.home-controls button {
    height: 25%;
    width: 50%;
    align-self: center;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.fas {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 5rem;
    pointer-events: none;
    text-align: center;
    margin-top: 1.5rem;

}

#score,
#scoreboard {
    margin-top: 0.5rem;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.unclickable {
    pointer-events: none !important;
}

.hide {
    display: none !important;
}

.darkmode {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 26, 2);
}

.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-box {
    height: 50%;
    width: 50%;
    border: solid 1px black;
}

.fade {
    opacity: 0;
}